$ech_red: #D5201E;
$ech_charcoal: #383F44;
$ech_lime: #B6DF1A;
$ech_grey: #8B8D8E;
$ech_charcoal_80: #61656E;
$ech_charcoal_60: #888C8F;
$ech_charcoal_30: #C3C5C7;
$ech_charcoal_10: #EBEBEC;
$ech_lime_80: #C3DA5E;
$ech_lime_60: #D3EC76;
$ech_lime_30: #E9F5BA;
$ech_lime_10: #F5F9E8;
$ech_amber: #FFC000;
$serif_font: "Times New Roman", Times, serif;
$sans_serif_font: verdana, arial, helvetica, sans-serif;
$base_font_size: 14px;